/*
    advantages style
 */

.advantages {
  background: #f6d2d6;
  padding: 101px 0 45px;

  @include mq(md) {
    padding: 52px 0 15px;
  }

  .container {
    position: relative;

    &:before, &:after {
      /* скрыть на lg */
      content: "";
      display: block;
      position: absolute;

      @include mq(lg) {
        display: none;
      }
    }

    &:before {
      width: 199px;
      height: 113px;
      background: url("../img/advantages/love.png") no-repeat center/cover;
      top: 229px;
      left: -63px;
    }

    &:after {
      width: 423px;
      height: 116px;
      background: url("../img/advantages/moschino.png") no-repeat center/cover;
      top: 227px;
      right: -287px;
    }
  }

  &__content {
    position: relative;
    z-index: 9;

    &-block {
      display: flex;

      @include mq(xs) {
        display: block;
      }

      figure {
        width: 263px;
        position: relative;

        @include mq(xs) {
          width: 90%;
          min-width: 263px;
        }

        h5 {
          font-size: 22px;
          line-height: 33px;
          color: #5e2552;
          margin: 0 0 15px 78px;

          @include mq(xs) {
            max-width: 263px;
          }
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }

        &:before {
          font-family: $isb, sans-serif;
          font-size: 36px;
          line-height: 44px;
          text-align: center;
          color: #5e2552;
          display: block;
          box-sizing: border-box;
          width: 66px;
          padding: 15px 0;
          background: url("../img/advantages/star.png") no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:nth-child(2) {
          margin-left: auto;

          @include mq(xs) {
            margin: 22px 0 0;
          }
        }
      }

      &__img {
        position: absolute;

        @include mq(xs) {
          position: relative;
        }

        img {

          @include mq(lg) {
            width: 100%;
          }
        }

        &:before {
          display: block;
          position: absolute;
          z-index: -1;

          @include mq(md) {
            content: "";
          }
        }
      }

      &:first-child {

        figure {

          &:first-child {

            &:before {
              content: "1";
            }
          }

          &:nth-child(2) {

            &:before {
              content: "2";
            }
          }
        }

        .advantages__content-block__img {
          top: 54px;
          left: 92px;

          @include mq(lg) {
            width: 400px;
            top: 124px;
          }

          @include mq(md) {
            top: 134px;
            left: -50px;
          }

          @include mq(s) {
            width: 360px;
            top: 145px;
          }

          @include mq(xs) {
            width: 131%;
            min-width: 382px;
            max-width: 490px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: -4% 0 -85px;
          }

          &:before {
            width: 219px;
            height: 190px;
            background: url("../img/advantages/ellipse.png") no-repeat center/cover;
            bottom: 75.06px;
            left: 45.5px;
          }
        }
      }

      &:nth-child(2) {
        margin: 228px auto 23px;

        @include mq(md) {
          margin-top: 328px;
        }

        @include mq(xs) {
          margin-top: 0;
        }

        figure {

          &:first-child {

            &:before {
              content: "3";
            }
          }

          &:nth-child(2) {

            &:before {
              content: "4";
            }
          }
        }

        .advantages__content-block__img {
          top: 68px;
          right: 103.7px;

          @include mq(lg) {
            width: 425px;
            top: 118px;
            right: 124.7px;
          }

          @include mq(md) {
            top: 128px;
            right: -40px;
          }

          @include mq(s) {
            width: 395px;
            top: 140px;
          }

          @include mq(xs) {
            width: 160%;
            min-width: 466px;
            max-width: 600px;
            top: 0;
            left: calc(50% - 35px);
            transform: translateX(-50%);
            margin: -30px 0 -50px;
          }

          &:before {
            width: 256px;
            height: 192px;
            background: url("../img/gallery/ellipse.png") no-repeat center/cover;
            bottom: 36.51px;
            right: 15.02px;
          }
        }

        &:before {
          content: "";
          display: block;
          width: 219px;
          height: 190px;
          background: url("../img/advantages/ellipse.png") no-repeat center/cover;
          position: absolute;
          bottom: -121px;
          right: -250px;
          z-index: 11;
        }
      }
    }

    .sale, .price {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include mq(s) {
        position: relative;
        left: 0;
        transform: none;
      }
    }

    .sale {
      top: 195px;

      @include mq(md) {
        top: 245px;
      }

      @include mq(s) {
        top: 0;
        margin: 0 auto;
      }
    }

    .price {
      top: 288px;
      text-align: center;

      @include mq(md) {
        top: 338px;
      }

      @include mq(s) {
        top: 0;
        margin: 21px auto;
      }

      span {

        &.old-price {
          margin-right: 0;

          @include mq(s) {
            margin-right: 17px;
          }
        }

        &.new-price {
          display: block;
          color: #fff;

          @include mq(md) {
            color: #af0b47;
          }

          @include mq(s) {
            display: inline-block;
          }
        }
      }
    }

    .to-order {
      margin: 0 auto;
    }

    &:before, &:after {
      /* скрыть на md */
      content: "";
      display: block;
      position: absolute;
      transform: translateX(-50%);
      z-index: -1;

      @include mq(md) {
        display: none;
      }
    }

    &:before {
      width: 560px;
      height: 560px;
      background: linear-gradient(90deg, #f88ca5 0%, #fe527a 100%);
      border-radius: 50%;
      top: 0;
      left: 50%;

      @include mq(lg) {
        width: 490px;
        height: 490px;
        top: 45%;
        left: 49%;
        transform: translate(-50%, -50%);
      }
    }

    &:after {
      width: 435px;
      height: 195px;
      background: url("../img/advantages/snow.png") no-repeat center/cover;
      top: -33px;
      left: calc(50% - 9px);

      @include mq(lg) {
        width: 380px;
        height: 170px;
        top: 33px;
        left: calc(49% - 9px);
      }
    }
  }
}