/*
    advantages style
 */

.advantages {
  background: #f6d2d6;
  padding: 101px 0 45px;

  @include mq(md) {
    padding: 52px 0 15px;
  }

  .container {
    position: relative;

    &:before, &:after {
      /* скрыть на lg */
      content: "";
      display: block;
      position: absolute;

      @include mq(lg) {
        display: none;
      }
    }

    &:before {
      width: 199px;
      height: 113px;
      background: url("../img/advantages/love.png") no-repeat center/cover;
      top: 229px;
      left: -63px;
    }

    &:after {
      width: 423px;
      height: 116px;
      background: url("../img/advantages/moschino.png") no-repeat center/cover;
      top: 227px;
      right: -287px;
    }
  }

  &__content {
    position: relative;
    z-index: 9;

    &-block {
      display: flex;
      //justify-content: space-between;

      figure {
        width: 263px;
        position: relative;

        h5 {
          color: #5e2552;
          margin: 0 0 15px 88px;
        }

        &:before {
          font-family: $isb, sans-serif;
          font-size: 36px;
          line-height: 44px;
          text-align: center;
          color: #5e2552;
          display: block;
          box-sizing: border-box;
          width: 70px;
          padding: 17px 0;
          background: url("../img/advantages/star.png") no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:nth-child(2) {
          margin-left: auto;
        }
      }

      &__img {
        position: absolute;
        //z-index: 9;

        img {

          @include mq(lg) {
            width: 100%;
          }
        }
      }

      &:first-child {

        figure {

          &:first-child {

            &:before {
              content: "1";
            }
          }

          &:nth-child(2) {

            &:before {
              content: "2";
            }
          }
        }

        .advantages__content-block__img {
          top: 54px;
          left: 92px;

          @include mq(lg) {
            width: 400px;
            top: 124px;
          }

          @include mq(md) {
            top: 134px;
            left: -50px;
          }
        }
      }

      &:nth-child(2) {
        margin: 228px auto 23px;

        @include mq(md) {
          margin-top: 328px;
        }

        figure {

          &:first-child {

            &:before {
              content: "3";
            }
          }

          &:nth-child(2) {

            &:before {
              content: "4";
            }
          }
        }

        .advantages__content-block__img {
          top: 68px;
          right: 101.7px;

          @include mq(lg) {
            width: 425px;
            top: 118px;
            right: 122.7px;
          }

          @include mq(md) {
            top: 128px;
            right: -40px;
          }
        }

        &:before {
          content: "";
          display: block;
          width: 219px;
          height: 190px;
          background: url("../img/advantages/ellipse.png") no-repeat center/cover;
          position: absolute;
          bottom: -121px;
          right: -250px;
          z-index: 11;
        }
      }
    }

    .sale, .price {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include mq(s) {
        position: relative;
        left: 0;
        transform: none;
      }
    }

    .sale {
      top: 195px;

      @include mq(md) {
        top: 245px;
      }

      @include mq(s) {
        top: 0;
        margin: 0 auto;
      }
    }

    .price {
      top: 288px;
      text-align: center;

      @include mq(md) {
        top: 338px;
      }

      @include mq(s) {
        top: 0;
        margin: 21px auto;
      }

      span {

        &.old-price {
          margin-right: 0;

          @include mq(s) {
            margin-right: 17px;
          }
        }

        &.new-price {
          display: block;
          color: #fff;

          @include mq(s) {
            display: inline-block;
            color: #af0b47;
          }
        }
      }
    }

    .to-order {
      margin: 0 auto;
    }

    &:before, &:after {
      /* скрыть на s */
      content: "";
      display: block;
      position: absolute;
      transform: translateX(-50%);
      z-index: -1;

      @include mq(s) {
        display: none;
      }
    }

    &:before {
      width: 560px;
      height: 560px;
      background: linear-gradient(90deg, #f88ca5 0%, #fe527a 100%);
      border-radius: 50%;
      top: 0;
      left: 50%;

      @include mq(lg) {
        width: 490px;
        height: 490px;
        top: 45%;
        left: 49%;
        transform: translate(-50%, -50%);
      }

      @include mq(md) {
        width: 400px;
        height: 400px;
        top: 43%;
      }
    }

    &:after {
      width: 435px;
      height: 195px;
      background: url("../img/advantages/snow.png") no-repeat center/cover;
      top: -33px;
      left: calc(50% - 9px);

      @include mq(lg) {
        width: 380px;
        height: 170px;
        top: 33px;
        left: calc(49% - 9px);
      }

      @include mq(md) {
        width: 310px;
        height: 139px;
        top: 110px;
      }
    }
  }
}