/*
    gallery style
 */

.gallery {
  background: #f6d2d6;
  padding: 100px 0;
  position: relative;

  @include mq(md) {
    padding: 50px 0;
  }

  &__content {
    position: relative;

    figure {
      max-width: 193px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 50;

      @include mq(s) {
        position: static;
        transform: none;
        margin: 0 auto;
      }

      .video {
        background: linear-gradient(88.39deg, #e23cec 0.94%, #6343e1 98.98%);
        position: relative;
      }

      p {
        font-family: $isb, sans-serif;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #5e2552;
        margin-top: 11px;
      }
    }


    &-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;

      a {
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        @include mq(s) {
          filter: none;
          width: 100% !important;
          max-width: 100% !important;
        }

        img {
          width: 100%;
        }

        &:before, &:after {
          content: "";
          display: block;
          position: absolute;
        }

        &:before {
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(102, 0, 49, 0.6), rgba(102, 0, 49, 0.6));
          border-radius: 53% 47% 83% 17% / 47% 50% 50% 53%;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.55s ease-in-out;
        }

        &:after {
          width: 96px;
          height: 100px;
          background: url("../img/gallery/zoom.png") no-repeat center/cover;
          top: 100%;
          left: 100%;
          opacity: 0;
          transition: all 0.65s ease-in-out;
        }

        &:hover {

          &:before {
            border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
            opacity: 1;
          }

          &:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
          }
        }

        &:first-child, &:last-child {
          width: 41%;
          max-width: 458px;
        }

        &:nth-child(2), &:nth-child(5) {
          width: 58%;
          max-width: 652px;
        }

        &:nth-child(3), &:nth-child(4) {
          margin: 30px 0;
          width: 32%;
          max-width: 360px;
        }
      }

      .owl-stage-outer {
        padding: 0;
      }
    }

    &:before {
      /* скрыть на lg */
      content: "";
      display: block;
      width: 256px;
      height: 192px;
      background: url("../img/gallery/ellipse.png") no-repeat center/cover;
      position: absolute;
      bottom: 274px;
      left: -303px;

      @include mq(lg) {
        display: none;
      }
    }
  }

  &:before {
    /* скрыть на md */
    content: "";
    display: block;
    width: 100%;
    height: 265px;
    background: url("../img/snow.png") no-repeat center/cover;
    position: absolute;
    bottom: 0;
    left: 0;

    @include mq(md) {
      display: none;
    }
  }
}