/*
    review style
 */

.review {
  background: #fff5f7;
  padding: 76px 0 110px;

  @include mq(md) {
    padding: 52px 0 50px;
  }

  &__content {
    position: relative;
    z-index: 9;

    h3 {
      max-width: 360px;
      z-index: 9;

      @include mq(md) {
        text-align: center;
        margin: 0 auto;
      }

      &:before {
        content: "";
        display: block;
        width: 320px;
        height: 280px;
        background: url("../img/review/big-quotes.png") no-repeat center/cover;
        position: absolute;
        top: -41px;
        left: 98px;
        z-index: -1;

        @include mq(lg) {
          width: 145px;
          height: 139px;
          top: -43px;
          left: 0;
        }
      }
    }

    &-block {
      width: 800px;
      margin: -58px 0 0 auto;
      position: relative;
      right: -20px;

      @include mq(lg) {
        width: 680px;
        right: 0;
      }

      @include mq(md) {
        margin-top: 10px;
        width: 100%;
      }

      @include mq(xs) {
        width: 110%;
        min-width: 320px;
        left: 50%;
        transform: translateX(-50%);
      }

      figure {
        box-sizing: border-box;
        //width: 92%;
        //max-width: 360px;
        padding: 115px 30px 44px;
        background: #e9fffe;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        position: relative;

        @include mq(s) {
          padding: 92px 20px 24px;
        }

        h6 {
          color: #5e2552;
          margin-top: 12px;
        }

        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 45px;
          background: url("../img/review/small-quotes.png") no-repeat center/cover;
          position: absolute;
          top: 51px;
          left: 30px;

          @include mq(s) {
            top: 30px;
            left: 20px;
          }
        }
      }

      .owl-nav {
        margin: 5px 0 0 20px;

        @include mq(md) {
          width: 380px;
          margin: 20px auto;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 380px;
          box-sizing: border-box;
          padding: 0 20px;
        }

        .owl-next {

          @include mq(md) {
            margin-top: 0;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        width: 157px;
        height: 102px;
        background: url("../img/review/snow.png") no-repeat center/cover;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    >p {
      color: #444;
      position: absolute;
      bottom: 60px;
      right: 0;
      cursor: pointer;
      z-index: 20;

      @include mq(md) {
        position: static;
        text-align: right;
      }
    }

    img.girl {
      position: absolute;
      bottom: -83px;
      left: -263px;

      @include mq(lg) {
        bottom: -133px;
        left: -233px;
      }

      @include mq(md) {
        position: static;
        width: 100%;
      }
    }
  }
}