/*
    catalog style
 */

.catalog {
  background: #fff5f7;
  padding: 86px 0 93px;

  @include mq(md) {
    padding: 42px 0;
  }

  h4 {
    margin-bottom: 91px;

    @include mq(md) {
      margin-bottom: 41px;
    }
  }

  &__block {
    position: relative;
    z-index: 9;

    @include mq(md) {
      box-sizing: border-box;
      padding: 28px 0 50px;
      background: #f6d2d6;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }

    @include mq(s) {
      padding: 28px 10px 50px;
    }

    section {
      box-sizing: border-box;
      width: 877px;
      padding: 45px 77px 45px 420px;
      background: #f6d2d6;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-left: auto;
      position: relative;

      @include mq(lg) {
        width: 100%;
        padding-left: 503px;
      }

      @include mq(md) {
        padding: 0;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
      }

      figure.logo {

        @include mq(md) {
          justify-content: center;
        }

        img {

          &.love {

            @include mq(xs) {
              width: 74px;
            }
          }

          &.moschino {

            @include mq(xs) {
              width: 157px;
            }
          }
        }
      }

      .catalog__block-title {
        width: 143px;
        position: absolute;
        top: 38px;
        left: -214px;

        @include mq(lg) {
          position: static;
          margin-top: 25px;
        }

        @include mq(md) {
          margin: 25px auto 16px;
          text-align: center;
        }

        h3 {
          line-height: 44px;
          text-transform: none;
          color: #fff;
          margin: 0 0 1px 1px;

          @include mq(lg) {
            color: #af0b47;
          }

          @include mq(s) {
            font-size: 36px;
          }
        }

        h4 {
          font-size: 24px;
          line-height: 29px;
          color: #fff;
          text-align: left;
          margin-bottom: 0;
          position: relative;

          @include mq(lg) {
            color: #333;
          }

          &:after {
            content: "";
            display: block;
            width: 98px;
            height: 18px;
            background: url("../img/catalog/star.png") no-repeat center/cover;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }

        a {
          font-family: $ir, sans-serif;
          font-size: 16px;
          line-height: 19px;
          text-align: left;
          color: #fdfdfd;
          margin-top: -2px;
          position: relative;
          z-index: 20;

          @include mq(lg) {
            color: #444;
          }
        }
      }

      .sale {
        position: absolute;
        top: 146px;
        left: 72px;
        z-index: 11;

        @include mq(lg) {
          left: 175px;
        }

        @include mq(md) {
          position: relative;
          top: 0;
          left: 0;
          margin: 0 auto;
        }
      }

      .price {
        margin: 22px 0 11px 8px;

        @include mq(lg) {
          margin-top: 11px;
        }

        @include mq(md) {
          text-align: center;
          margin: 22px auto 0;
        }
      }

      img.boot {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease-in-out;

        @include mq(md) {
          width: 70%;
        }

        @include mq(s) {
          width: 100%;
          max-width: 540px;
          position: relative;
          top: 0 !important;
          left: calc(50% + 50px) !important;
          transform: translateX(-50%);
          margin: 0;
          transition: all 0.5s ease-in-out;
        }

        @include mq(xs) {
          width: 137%;
          left: 63% !important;
        }
      }

      .catalog__block-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 192px;
        position: absolute;
        bottom: 0;
        left: -213px;
        transition: all 0.5s ease-in-out;

        @include mq(lg) {
          width: 298px;
          bottom: 50px;
          left: 50px;
        }

        @include mq(md) {
          width: 192px;
          position: static;
          margin: 100px 75px 50px auto;
        }

        @include mq(s) {
          width: 90%;
          max-width: 540px;
          margin: 0 auto 20px;
        }

        @include mq(xs) {
          width: 100%;
        }

        a {
          width: 45%;
          max-width: 86px;
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.15));
          border-radius: 10px;
          position: relative;
          transition: all 0.5s ease-in-out;
          overflow: hidden;

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          }

          @include mq(s) {
            width: 31%;
            max-width: 100%;
          }

          img {
            width: 100%;
          }

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(212, 20, 66, 0.4), rgba(212, 20, 66, 0.4));
            border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.55s ease-in-out;
            opacity: 0;
          }

          &:hover {

            &:after {
              border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
              opacity: 1;
            }
          }

          &:nth-child(3) {
            margin: 19.5px 0;

            @include mq(s) {
              margin-top: 0;
            }
          }
        }
      }

      ul {

        @include mq(md) {
          width: 315px;
          margin: 0 auto;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 315px;
        }
      }

      .catalog__block-choose {
        margin-top: 13px;
        display: flex;

        @include mq(md) {
          justify-content: center;
        }

        @include mq(xs) {
          display: block;
        }

        .size {
          display: inline-block;
          position: relative;
          margin-right: 37px;

          @include mq(xs) {
            margin: 0 auto 10px;
            max-width: 189px;
            display: block;
          }

          >p {
            margin-bottom: 13px;

            output {
              transition: all 0.5s ease-in-out;
              display: inline-block;
              width: 107px;

              span {
                color: #af0b47;
              }
            }
          }

          figure {
            width: 172px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            p {
              text-align: center;
              box-sizing: border-box;
              width: 44px;
              padding: 8px 0 7px;
              border: 1px solid #f88ca5;
              border-radius: 8px;
              cursor: pointer;
              transition: all 0.55s ease-in-out;

              &.active {
                background: #f88ca5;
                color: #fff;
              }

              &:first-child {
                margin-bottom: 20px;
              }

              &:nth-child(2), &:nth-child(5) {
                margin: 0 20px;
              }

            }
          }

          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 142px;
            background: #f88ca5;
            position: absolute;
            top: 6px;
            right: -18px;

            @include mq(xs) {
              display: none;
            }
          }
        }

        .color {

          @include mq(xs) {
            text-align: center;
          }

          >p {
            margin-bottom: 13px;

            output {
              display: inline-block;
              width: 70px;
              color: #af0b47;
              transition: all 0.5s ease-in-out;
            }
          }

          figure {
            width: 108px;
            display: flex;
            justify-content: space-between;

            @include mq(xs) {
              margin: 0 auto;
            }

            span {
              display: block;
              width: 44px;
              height: 44px;
              border: 1px solid #f88ca5;
              border-radius: 8px;
              position: relative;
              cursor: pointer;

              &:after {
                content: "";
                display: block;
                width: 20px;
                height: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.55s ease-in-out;
                opacity: 0;
              }

              &.black {
                background: #222;

                &:after {
                  background: url("../img/catalog/checked-black.png") no-repeat center/cover;
                }
              }

              &.white {
                background: #fdfdfd;

                &:after {
                  background: url("../img/catalog/checked-white.png") no-repeat center/cover;
                }
              }

              &.active {

                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      form {
        margin-top: 20px;

        @include mq(md) {
          width: 380px;
          margin: 20px auto 0;
        }

        @include mq(xs) {
          width: 100%;
        }

        p {
          text-align: center;
          width: 100%;
          margin-top: 12px;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
      }
    }

    >span {
      font-family: $im, sans-serif;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: #af0b47;
      display: block;
      box-sizing: border-box;
      width: 555px;
      padding: 22px 0 21px;
      background: #fff5f7;
      border: 2px solid #af0b47;
      border-radius: 10px;
      margin: 30px 0 0 auto;

      @include mq(md) {
        margin: 25px auto 0;
      }

      @include mq(s) {
        width: 100%;
        max-width: 555px;
      }
    }

    .rectangle {
      width: 555px;
      height: calc(100% + 50px);
      background: linear-gradient(154.3deg, #ff608a 33.75%, #d41442 83.75%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      position: absolute;
      top: -50px;
      left: 0;
      z-index: -1;

      @include mq(lg) {
        display: none;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
    }

    &.boots {

      section {

        img.boot {

          &.black {
            top: -65px;
            left: -252px;

            @include mq(lg) {
              left: -149px;
            }

            @include mq(md) {
              top: 255px;
              left: 25px;
            }

            @include mq(s) {
              margin: -8% 0;
            }
          }

          &.white {
            top: -45px;
            left: -253px;
            //top: -57px;
            //left: -253px;

            @include mq(lg) {
              top: -55px;
              left: -140px;
            }

            @include mq(md) {
              top: 255px;
              left: 25px;
            }
            //
            //@include mq(md) {
            //  top: 247px;
            //  left: 26px;
            //}

            @include mq(s) {
              margin: 0 0;
            }
          }
        }

        &:before {
          width: 331px;
          height: 92px;
          background: url("../img/catalog/2.png") no-repeat center/cover;
          top: -24px;
          left: 108px;

          @include mq(md) {
            display: none;
          }
        }
      }

      &:before {
        width: 356px;
        height: 84px;
        background: url("../img/catalog/1.png") no-repeat center/cover;
        bottom: 0;
        left: 76px;

        @include mq(lg) {
          display: none;
        }

        @include mq(md) {
          display: block;
          width: 181px;
          height: 117px;
          background: url("../img/catalog/3.png") no-repeat center/cover;
          top: -22px;
          left: -17px;
        }

        @include mq(s) {
          width: 142px;
          height: 95px;
          left: -13px;
        }
      }
    }

    &.sneakers {
      margin: 150px auto;

      @include mq(lg) {
        margin: 100px auto;
      }

      @include mq(md) {
        margin: 50px auto;
      }

      section {

        img.boot {

          @include mq(xs) {
            width: 122%;
            left: 58% !important;
            //transform: translateX(50% + 20px) !important;
          }

          &.black {
            top: 39px;
            left: -260px;

            @include mq(lg) {
              left: -157px;
            }

            @include mq(md) {
              top: 290px;
              left: 15px;
            }
          }

          &.white {
            top: 50px;
            left: -232px;
            //top: 40px;
            //left: -252px;

            @include mq(lg) {
              left: -129px;
            }

            @include mq(md) {
              top: 290px;
              left: 5px;
            }

            //@include mq(lg) {
            //  left: -149px;
            //}

            //@include mq(md) {
            //  top: 291px;
            //  left: 7px;
            //}
          }
        }

        &:before {
          width: 214px;
          height: 155px;
          background: url("../img/catalog/4.png") no-repeat center/cover;
          top: -25px;
          right: -26px;

          @include mq(md) {
            display: none;
          }
        }
      }

      &:before {
        width: 181px;
        height: 117px;
        background: url("../img/catalog/3.png") no-repeat center/cover;
        top: -73px;
        left: -20px;

        @include mq(lg) {
          display: none;
        }

        @include mq(md) {
          display: block;
          width: 214px;
          height: 155px;
          background: url("../img/catalog/4.png") no-repeat center/cover;
          top: -24px;
          left: calc(100% - 195px);
        }

        @include mq(s) {
          width: 146px;
          height: 111px;
          left: calc(100% - 132px);
        }
      }
    }
  }

  &__spray {
    box-sizing: border-box;
    padding: 41px 145px 50px 0;
    background: #e9fffe;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: relative;

    @include mq(lg) {
      padding-right: 25px;
    }

    @include mq(md) {
      padding: 40px 0 50px;
    }

    @include mq(xs) {
      padding: 40px 10px 50px;
    }

    section {
      width: 380px;
      margin-left: auto;

      @include mq(md) {
        margin: 0 auto;
      }

      @include mq(xs) {
        width: 100%;
      }

      .catalog__spray-title {
        display: flex;
        align-items: center;

        @include mq(md) {
          justify-content: center;
          margin-bottom: 17px;
        }

        figure {
          margin-right: 13px;

          img {
            margin: 0;
          }
        }

        h3 {
          line-height: 46px;

          @include mq(s) {
            font-size: 36px;
          }
        }
      }

      >img {
        position: absolute;

        &.spray {
          top: -64px;
          left: 373px;

          @include mq(lg) {
            left: 342px;
          }

          @include mq(md) {
            position: static;
          }
        }

        &.girl {
          top: -72px;
          left: 10px;

          @include mq(lg) {
            left: 0;
          }

          @include mq(md) {
            display: none;
          }
        }
      }

      ul {
        width: 100%;
        max-width: 298px;
        margin: 16px 0 28px;

        @include mq(md) {
          margin: 10px auto 25px;
        }

        li {
          box-sizing: border-box;
          padding-left: 58px;
          position: relative;

          p {
            line-height: 23px;
          }

          &:before {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            background: url("../img/catalog/check.png") no-repeat center/cover;
            position: absolute;
            top: 4px;
            left: 0;
          }

          &:nth-child(2) {
            margin: 24px 0;
          }
        }
      }

      form {

        @include mq(xs) {
          margin: 0 auto;
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      width: 300px;
      height: 86px;
      background: url("../img/catalog/5.png") no-repeat center/cover;
      top: -26px;
      right: 15px;

      @include mq(md) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:after {
      /* скрыть на lg */
      width: 366px;
      height: 369px;
      background: url("../img/catalog/boot.png") no-repeat center/cover;
      right: -140.5px;
      bottom: -122.08px;

      @include mq(lg) {
        display: none;
      }
    }
  }
}