/*
    description style
 */

.description {
  background: #fff5f7;
  padding: 140px 0 344px;

  @include mq(lg) {
    padding-bottom: 365px;
  }

  @include mq(md) {
    padding: 45px 0;
  }

  &__content {
    position: relative;

    h3 {
      margin-left: 585px;

      @include mq(lg) {
        margin-left: 405px;
      }

      @include mq(md) {
        margin-left: 0;
        text-align: center;
      }
    }

    &-slider {
      box-sizing: border-box;
      position: absolute;
      top: -57px;
      right: 585px;

      @include mq(lg) {
        width: 380px !important;
        left: 0;
      }

      @include mq(md) {
        top: 105px;
      }

      @include mq(s) {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
      }

      @include mq(xs) {
        width: 110% !important;
        min-width: 320px;
        max-width: 380px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }

      &__item {
        box-sizing: border-box;
        width: 340px;
        padding-bottom: 33px;
        background: #e9fffe;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        position: relative;
        //overflow: hidden;

        //@include mq(md) {
        //  width: 320px;
        //  //box-shadow: none;
        //}
        //
        //@include mq(s) {
        //  width: 340px;
        //}

        @include mq(xs) {
          width: 100%;
        }


        img {
          width: auto !important;

          &:first-child {
            border-radius: 20px 20px 0 0;

            @include mq(md) {
              width: 100% !important;
            }
          }

          &:nth-of-type(2) {
            margin: 30px 0 17px 30px;
          }
        }

        h5 {
          color: #5e2552;
          padding: 0 30px;
          margin: 0 0 11px;

          @include mq(xs) {
            font-size: 22px;
            line-height: 33px;
          }
        }

        p {
          padding: 0 30px;
          margin-top: 11px;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -22px;
        }

        &.second {

          &:before {
            width: 156px;
            height: 115px;
            background: url("../img/description/second.png") no-repeat center/cover;
            left: -22px;
          }
        }

        &.third {

          &:before {
            width: 145px;
            height: 95px;
            background: url("../img/description/third.png") no-repeat center/cover;
            right: -18px;
          }
        }
      }

      .owl-nav {
        position: absolute;
        bottom: 151px;
        right: -223px;

        @include mq(lg) {
          position: static;
          box-sizing: border-box;
          width: 380px;
          padding: 0 20px;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 380px;
        }

        //@include mq(md) {
        //  margin: 0 auto;
        //  padding: 0;
        //  width: 320px;
        //}

        .owl-next {

          @include mq(lg) {
            margin-top: 0;
          }
        }
      }
    }

    p.big {
      max-width: 458px;
      margin: 29px 0 0 585px;

      @include mq(lg) {
        margin-left: 405px;
      }

      @include mq(s) {
        display: none;
      }

      //@include mq(md) {
      //  display: none;
      //}

      span {
        font-family: $isb, sans-serif;
        color: #d41442;
      }
    }

    img.girl {
      position: absolute;
      bottom: -300px;
      //top: -49px;
      right: -308.53px;

      @include mq(lg) {
        width: 464px;
        bottom: -360px;
        right: -50px;
      }

      @include mq(md) {
        position: relative;
        top: 0;
        margin: 0;
        right: -308.53px;
      }

      @include mq(s) {
        margin-top: 10px;
        left: calc(50% - 23px);
        transform: translateX(-50%);
      }

      @include mq(xs) {
        width: 100%;
        max-width: 464px;
      }

      //@include mq(md) {
      //  position: relative;
      //  top: 0;
      //  left: calc(50% - 23px);
      //  transform: translateX(-50%);
      //  margin: 0;
      //}

    }
  }
}